$xl: 1440px;
$lg: 1200px;
$md: 992px;
$sm: 540px;
$basepx: 14px;

$font: 'Larsseit', sans-serif;

$white:  #FFF;
$black:  #000;
$background: #FBF2EA;
$orange: #F35B1C;
$btn: #EE7023;
$brown: #512b2b;
$sky: #BCD8DB;
$neutral: #a38b80;
