body {
  background-color: $background;
  color: $black;
  font-family: $font;
  font-weight: 400;
  font-size: $basepx;

  &.fixed {
    height: 100%;
    overflow: hidden;
  }
}

.container {
  max-width: $xl;
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}

.section {
  margin: 100px 0;
}

