.form {

    &__item {
        display: none;
        position: absolute;

        &.active {
            display: block;
            position: relative;
        }

        &_wrap {

            &.disabled {
                display: none !important;
            }

        }
    }
}